@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Mode Colors */

    /* Primary */
    --color-primary-bg: #8b5cf6;
    --color-primary-hover-bg: #a78bfa;
    --color-primary-hover-border: #6d28d9;
    --color-primary-hex: #8b5cf6;
    --color-primary-dark-hex: #6d28d9;

    /* Accent */
    --color-accent-bg: #d946ef;
    --color-accent-hover-bg: #e879f9;
    --color-accent-border: #a21caf;
    --color-accent-hex: #d946ef;
    --color-accent-dark-hex: #a21caf;

    /* Background */
    --color-bg-panel: #2c2f48;
    --color-background: #161623;
  }

  .dark {
    /* Dark Mode Colors */

    --color-primary-bg: #ff8a75;
    --color-secondary-bg: #66bb6a;

    --color-background: #121212;
    --color-bg-panel: #1e1e1e;

    --color-text: #f9fafb;
    --color-text-muted: #9ca3af;
  }
}
