# Database URL for Prisma
DATABASE_URL=postgresql://user:password@localhost:5432/db

# Solana Network ("devnet" or "mainnet-beta")
SOLANA_NETWORK=devnet

# Solana RPC endpoint
SOLANA_RPC_URL=https://api.devnet.solana.com

# Entry fee in SOL
STAKE_AMOUNT_SOL=0.010
